<html>
<head>
  {% include "header.html" %}
</head>
<body>
    
    {% load my_tags %}
    {# 變量 #}
    <p>{{ name }}</p>

    {# 列表 #}
    <p>{{ views_list }}</p>
    {% for i in  views_list %}
        <p>{{ i }}<p>  
    {% endfor %}

    {# 字典 #}
    <p>{{ views_list }}<p>
    {% for key, value in views_dic.items %}
        <p>{{ key }}: {{ value }}</p>
    {% endfor %}

    {# if/else #}
    {% if score == 90 %}
        <p>你的成績是{{ score }}，恭喜你過得不錯！</p>
    {% else %}
        <p>你的成績是{{ score }}，很遺憾，未及格。</p>
    {% endif %}

    {# empty_list #}
    {% for i in empty_list %}
        <p>i<p>
    {% empty %}
        <p>列表為空<p>
    {% endfor %}
        
    {% if views_list %}
        <ul>
            {% for view in views_list %}
                <li>{{ view }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>目前沒有任何課程。</p>
    {% endif %} 

    {# 自定義標籤 #}
    <p> 標籤 : {% mul 11 22  %} <p>
    {% my_input "請輸入您的姓名" "UbserName" %}

    <p>{{score|my_filter:0.6}}<p> 

    {{}}



</body>
</html>