{% include 'base.html' %}
{% load static %}
<header class="masthead" style="background-image: url('{% static 'assets/img/post-bg.jpg' %}');">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Contact Me</h1>
                    <span class="subheading">Have questions? I have answers.</span>
                </div>
            </div>
        </div>
    </div>
</header>
        <!-- Page Header-->
<body>
 
</body>
        


<body>
    <link rel="stylesheet" href="{% static 'css/index_portfolio.css' %}"> <!--首頁右側標籤css-->
    <div class="container mt-5">
        <div class="row">
            <!-- 左側欄位: 相關文章列表 -->
            <div class="article-inner">
                <header class="article-header">
                  <h1 class="article-title" itemprop="name">
                    Applications Portal
                  </h1>
                </header>
                <hr />
                <div class="article-entry" itemprop="articleBody">
                  <table>
                    <thead>
                      <tr>
                        <th>⭐ Apps</th>
                        <th>🐱‍💻 GitHub</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><a target="_blank" rel="noopener" href="https://color.sdwh.dev/">🎮 灰色と青</a></td>
                        <td><a target="_blank" rel="noopener" href="https://github.com/sdwh/ColorMaster">GitHub</a></td>
                      </tr>
                      <tr>
                        <td><a target="_blank" rel="noopener" href="https://subayaku.sdwh.dev/">🎮 す早く Mental Excersice</a></td>
                        <td><a target="_blank" rel="noopener" href="https://github.com/sdwh/Subayaku">GitHub</a></td>
                      </tr>
                      <tr>
                        <td><a target="_blank" rel="noopener" href="https://data.sdwh.dev/">🧮 資料處理愛好者俱樂部</a></td>
                        <td><a target="_blank" rel="noopener" href="https://github.com/sdwh/DataHelper">GitHub</a></td>
                      </tr>
                      <tr>
                        <td><a href="https://sdwh.dev/Guess">❔ 謎攻</a></td>
                        <td><a target="_blank" rel="noopener" href="https://github.com/sdwh/Guess">GitHub</a></td>
                      </tr>
                      <tr>
                        <td><a target="_blank" rel="noopener" href="https://pm.sdwh.dev/">✨ Vue Gym Leader</a></td>
                        <td><a target="_blank" rel="noopener" href="https://github.com/sdwh/Vue-Poke-Gym-Leaders">GitHub</a></td>
                      </tr>
                      <tr>
                        <td><a target="_blank" rel="noopener" href="https://dpi.sdwh.dev/">✨ Vue DPI Converter</a></td>
                        <td><a target="_blank" rel="noopener" href="https://github.com/sdwh/Vue-DPI-Converter">GitHub</a></td>
                      </tr>
                      <tr>
                        <td><a target="_blank" rel="noopener" href="https://5tw.github.io/gpa">💯 採購專業人員基礎證照測驗練習</a></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><a target="_blank" rel="noopener" href="https://tsmc.sdwh.dev/#/">💯 tsmc 常用英文單字測驗練習</a></td>
                        <td></td>
                      </tr>
                      <tr>
                        <td><a target="_blank" rel="noopener" href="https://dialog.sdwh.dev/">🗪 Dialog 文化之鑰</a></td>
                        <td><a target="_blank" rel="noopener" href="https://github.com/sdwh/Dialog">GitHub</a></td>
                      </tr>
                      <tr>
                        <td><a href="https://sdwh.dev/AgasaHiroshi/">🎓Resume of Dr. Agasa Hiroshi</a></td>
                        <td><a target="_blank" rel="noopener" href="https://github.com/sdwh/AgasaHiroshi">GitHub</a></td>
                      </tr>
                      <tr>
                        <td><a href="https://sdwh.dev/LineageEnhance">🎮 Lineage Enhance Emulation</a></td>
                        <td><a target="_blank" rel="noopener" href="https://github.com/sdwh/LineageEnhance">GitHub</a></td>
                      </tr>
                      <tr>
                        <td><a href="https://sdwh.dev/MusicalNote">🎶 Musical Note Memory 音符記憶訓練</a></td>
                        <td><a target="_blank" rel="noopener" href="https://github.com/sdwh/MusicalNote">GitHub</a></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
        </div>
    </div>
</body>