{% include 'base.html' %}
{% load static %}

<header class="masthead" style="background-image: url('{% static 'assets/img/post-bg.jpg' %}');">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Portfolio</h1>
                    <h3>Github專案、作品集</h3>
                </div>
            </div>
        </div>
    </div>
</header>

<body>
    <link rel="stylesheet" href="{% static 'css/index_portfolio.css' %}"> <!--index_portfoliocss-->
    <div class="containers mt-5">
      <div class="row">
          <!-- 左側欄位: 相關文章列表 -->
          <div class="article-inner">
              <header class="article-header text-center">
                <br>
                  <h1 class="article-title" itemprop="name">
                  開發專案、作品集
                  </h1>
              </header>
              <hr />
              <div class="article-entry" itemprop="articleBody">
                  <table>
                      <thead>
                          <tr>
                              <th>⭐ 名稱</th>
                              <th>🐱‍💻 GitHub</th>
                              <th>🐱‍💻 說明</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td><a target="_blank" rel="noopener" href="https://github.com/tn00627974/Ai_Face_Linebot">Ai_Face_Linebot</a></td>
                              <td><a target="_blank" rel="noopener" href="https://github.com/tn00627974/Ai_Face_Linebot">GitHub</a></td>
                              <td>小組專案</td>
                          </tr>
                          <tr>
                              <td><a target="_blank" rel="noopener" href="https://github.com/tn00627974/Data-Engineering-Project">Data-Engineering-Project</a></td>
                              <td><a target="_blank" rel="noopener" href="https://github.com/tn00627974/Data-Engineering-Project">GitHub</a></td>
                              <td>ETL data pipeline專案</td>
                          </tr>
                          <tr>
                              <td><a target="_blank" rel="noopener" href="https://github.com/tn00627974/Django_Blog">Django_Blog</a></td>
                              <td><a target="_blank" rel="noopener" href="https://github.com/tn00627974/Django_Blog">GitHub</a></td>
                              <td>持續開發,個人技術文件放置區</td>
                          </tr>
                            <tr>
                                <td><a target="_blank" rel="noopener" href="https://github.com/tn00627974/Selenium_yamol">Selenium_yamol</a></td>
                                <td><a target="_blank" rel="noopener" href="https://github.com/tn00627974/Selenium_yamol">GitHub</a></td>
                                <td>自動爬取阿摩線上測試網站的內容,提供輸入帳密爬取csv</td>
                            </tr>
                            <tr>
                                <td><a target="_blank" rel="noopener" href="https://github.com/tn00627974/Selenium_goodinfo">Selenium_goodinfo</a></td>
                                <td><a target="_blank" rel="noopener" href="https://github.com/tn00627974/Selenium_goodinfo">GitHub</a></td>
                                <td>自動爬取goodinfo股票價格內容</td>
                            </tr>
                            <tr>
                                <td><a target="_blank" rel="noopener" href="https://github.com/tn00627974/Google_maps_API">Google_maps_API</a></td>
                                <td><a target="_blank" rel="noopener" href="https://github.com/tn00627974/Google_maps_API">GitHub</a></td>
                                <td>使用Google API爬取指定區域店家資訊</td>
                            </tr>
                            <tr>
                                <td><a target="_blank" rel="noopener" href="https://github.com/tn00627974/Instagram_auto_login">Instagram_auto_login</a></td>
                                <td><a target="_blank" rel="noopener" href="https://github.com/tn00627974/Instagram_auto_login">GitHub</a></td>
                                <td>自動登入IG帳密腳本,提供視窗化界面輸入帳密</td>
                              <tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>

{% include 'footer.html' %}