.widget {
    background-color: #ddd; /* 背景色 */
    line-height: 2em; /* 行高 */
    word-wrap: break-word; /* 自動換行 */
    font-size: 1em; /* 字體大小 */
    color: #777; /* 文字顏色 */
    text-shadow: 0 1px #fff; /* 文字陰影 */
    -webkit-box-shadow: 0 -1px 4px #ccc inset; /* 內陰影 (適用於 Webkit 瀏覽器) */
    box-shadow: 0 -1px 4px #ccc inset; /* 內陰影 */
    border: 1px solid #ccc; /* 邊框 */
    padding: 15px; /* 內間距 */
    border-radius: 3px; /* 邊角圓滑 */
}
